@using ProjektAplikacjaBudowlanka.Models.AuthenticationModels
@model LoginModel

<h2>Logowanie</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Login" class="control-label"></label>
        <input asp-for="Login" class="form-control" />
        <div id="LoginSpan" class="text-danger">@ViewData["LoginSpan"]</div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <div id="PasswordSpan" class="text-danger">@ViewData["PasswordSpan"]</div>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </div>
</form>