@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Remontowo-Budowlana Platforma Rezerwacyjna</h1>
    <p> </p>
    <p> </p>
    <p>Witaj na platformie rezerwacyjnej, dedykowanej usługodawcom i usługobiorcom w branży remontowo-budowlanej.<br> 
        Znajdź, zarezerwuj i oceniaj ekipy budowlane, dodawaj oferty, zarządzaj projektem, korzystaj z powiadomień oraz galerii prac.<br> 
        Sprawdź naszą platformę, która ułatwi Ci realizację projektów remontowych!</p>
</div>
