@model ProjektAplikacjaBudowlanka.Models.DTO.Opinia.OpiniaAddDTO
<h2>Nowa Opinia</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form asp-action="AddOpinia" method="post">
    <div class="form-group">
        <label asp-for="Opis">Opis:</label>
        <span id="OpisSpan" class="text-danger">@ViewData["OpisSpan"]</span>
        <input asp-for="Opis" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Ocena">Ocena (Skala od 1 do 5):</label>
        <span id="OcenaSpan" class="text-danger">@ViewData["OcenaSpan"]</span>
        <input asp-for="Ocena" class="form-control" min="1" max="5"/>
    </div>
    <div class="form-group">
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" class="form-control" readonly />
    </div>
    <div class="form-group" hidden>
        <label asp-for="idUslugodawca"></label>
        <input asp-for="idUslugodawca" class="form-control" />
    </div>
    <div class="form-group" hidden>
        <label asp-for="idUslugobiorca"></label>
        <input asp-for="idUslugobiorca" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Dodaj opinię</button>
</form>